// Import all of Bootstrap's CSS
@import 'bootstrap/scss/bootstrap';
.nav-link {
	color: white !important;
}
#navBar {
	transition: opacity 0.3s;
	opacity: 1;
}
.dark-carousel .carousel-inner .carousel-item img {
	filter: brightness(50%); /* Ajustar el porcentaje según lo oscuro que quieras que sea la imagen */
}

.carousel .carousel-inner .position-absolute {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.card-imagenes {
	position: relative;
	transition: all 0.3s ease;
	cursor: pointer;
}

.card-imagenes img:first-child {
	box-shadow: 0 60px 60px -60x rgba(0, 30, 255, 0.5);
	border-radius: 4px;
	object-fit: cover;
	width: 100%;
}

.card-imagenes img:last-child {
	position: absolute;
	width: 30em;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	transform: translateY(25%);
	transition: 0.3s ease;
	opacity: 0;
}

.card-imagenes:hover {
	transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
}

.card-imagenes::before {
	content: '';
	position: absolute;
	bottom: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0) 95%);
	opacity: 0;
	transition: all 0.3s ease;
}

.card-imagenes:hover::before {
	opacity: 1;
}

.card-imagenes:hover img:last-child {
	opacity: 1;
	transform: translateY(10%);
}
/* DEPARTAMENTOS */
.deptoGt {
	transition: all 0.3s ease;
	cursor: pointer;
	fill: #0d6efd;
}

.deptoGt:hover {
	fill: #095bce;
}
.success {
	fill: #28a745;
}
.success:hover {
	fill: #1e7e34;
}
